<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>OMGG</title>

    <link rel="stylesheet" href="css/summonerDetail.css">
</head>
<body>
<form>
    <th:block th:unless="${summonerIntegrationInfo.getId()==null}">
        <img th:src="'https://opgg-static.akamaized.net/images/profile_icons/profileIcon'+${summonerIntegrationInfo.profileIconId}+'.jpg?image=q_auto:best&v=1518361200'" width="120px" height="120px">
        <h3 th:text="'LV:'+${summonerIntegrationInfo.summonerLevel}">LV:30</h3>
        <input type="hidden" id="summonerId" th:value="${summonerIntegrationInfo.id}">
        <input type="hidden" id="summonerName" th:value="${summonerIntegrationInfo.name}">
        <h1 th:text="${summonerIntegrationInfo.name}">김소환사</h1>
        <button type="button" id="btn-refresh">전적갱신</button>
    </th:block>
    <th:block th:if="${summonerIntegrationInfo.getId()==null}">
        <h1>OMGG에 등록되지 않은 소환사입니다. 오타를 확인 후 다시 검색해주세요.</h1>
    </th:block>

    <div class="MatchesList">
        <div th:each="match : ${summonerIntegrationInfo.getMatches()}" class="MatchWrap">
            <div class="GameItem Lose">
                <div class="Content">
                    <div class="GameStats">
                        <div class="GameType">
                            자유 5:5 랭크
                        </div>
                        <div class="TimeStamp"><span class="_timeago _timeCountAssigned tip" data-datetime="1619710817" data-type="" data-interval="60" title="2021년 4월 30일 오전 12시 40분">11시간 전</span></div>
                        <div class="Bar"></div>
                        <div class="GameResult">
                            승리
                        </div>
                        <div class="GameLength">30분 5초</div>

                    </div>

                    <div class="GameSettingInfo">
                        <div class="ChampionImage">
                            <img src="//opgg-static.akamaized.net/images/lol/champion/Malphite.png?image=c_scale,q_auto,w_46&amp;v=1619585878">
                        </div>

                        <div class="SummonerSpell">
                            <div class="Spell">
                                <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerTeleport.png?image=c_scale,q_auto,w_22&amp;v=1619585878" class="Image tip tpd-delegation-uid-1" title="" alt="순간이동">
                            </div>
                            <div class="Spell">
                                <img src="//opgg-static.akamaized.net/images/lol/spell/SummonerFlash.png?image=c_scale,q_auto,w_22&amp;v=1619585878" class="Image tip tpd-delegation-uid-1" title="" alt="점멸">
                            </div>
                        </div>
                        <div class="Runes">
                            <div class="Rune">
                                <img src="//opgg-static.akamaized.net/images/lol/perk/8229.png?image=c_scale,q_auto,w_22&amp;v=1619585878" class="Image tip tpd-delegation-uid-1" title="" alt="신비로운 유성">
                            </div>
                            <div class="Rune">
                                <img src="//opgg-static.akamaized.net/images/lol/perkStyle/8300.png?image=c_scale,q_auto,w_22&amp;v=1619585878" class="Image tip tpd-delegation-uid-1" title="" alt="영감">
                            </div>
                        </div>
                        <div class="ChampionName">
                            말파이트
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<th:block th:replace="fragment/footer :: commonFooter"></th:block>
<script src="js/summonerDetail.js"></script>
</body>
</html>